body {
  font-family: 'Anonymous Pro', monospace;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a,
li a {
  color: black;
}


.top-bar {
  background-color: transparent;
}

.top-bar ul {
  background-color: white;
}

ul {
  list-style: none;
}

.is-dropdown-submenu {
  position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
    display: none;
    min-width: 200px;
    border: 1px solid #f2e94e;
    background-color: black;
}


.image {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-bottom: .5rem;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(232,232,232,1);
  -moz-box-shadow: 2px 2px 2px 1px rgba(232,232,232,1);
  box-shadow: 2px 2px 2px 1px rgba(232,232,232,1);
}

.outfit-panel {
  border-left: black solid 1px
}

h1,
h4 {
  font-family: 'Abril Fatface', cursive;
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
}

.button {
  color: black;
  font-weight: bold;
  border-radius: 10px;
}

.add-refresh {
  margin-bottom: 3rem;
}
